{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/admin/style.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    {% form_theme form 'bootstrap_4_layout.html.twig' %}
    <div style="margin: 20px auto;max-width: 600px;">
        <h3>Добавление ExtAddrobj</h3>
        {{ form_start(form, {'attr': {'class': 'form-fields'}}) }}
        {% for child in form %}
            {% if child.vars.name not in ['synonym','polygon','save'] %}
                {{ form_row(child) }}
            {% endif %}
        {% endfor %}

        <div>
            {{ form_label(form.synonym) }}
            <ul class="synonym" data-prototype="{{ form_widget(form.synonym.vars.prototype)|e('html_attr') }}">
                {% for synonym in form.synonym %}
                    <li>{{ form_row(synonym.name, {'label': false}) }}</li>
                {% endfor %}
            </ul>
            <button type="button" id="add_synonym" class="btn btn-secondary" data-collection-holder-class="synonym">
                Добавить синоним
            </button>
        </div>

        <div>
            {{ form_label(form.polygon) }}
            <ul class="polygon" data-prototype="{{ form_widget(form.polygon.vars.prototype)|e('html_attr') }}">
                {% for polygon in form.polygon %}
                    <li>
                        <div class="coord form-group qqq">
                            {{ form_widget(polygon.latitude) }}
                            {{ form_errors(polygon.latitude) }}
                        </div>
                        <div class="coord form-group xxx">
                            {{ form_widget(polygon.longitude) }}
                            {{ form_errors(polygon.longitude) }}
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <button type="button" id="add_polygon" class="btn btn-secondary" data-collection-holder-class="polygon">
                Добавить точку
            </button>
        </div>

        {{ form_row(form.save) }}
        {{ form_end(form, {'render_rest': false}) }}
    </div>
{% endblock %}

{% block footer_javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/admin/extaddrobj-form.js') }}" />
{% endblock %}