{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('admin/css/style.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div style="margin: 20px auto;max-width: 600px;">
        <h3>Панель администрирования</h3>

        <ul>
            <li><a href="{{ path('admin-new') }}">Добавление Администратора</a></li>
            <li><a href="{{ path('user-new') }}">Добавление Пользователя</a></li>
            <li><a href="{{ path('api-token-new') }}">Добавление Токена</a></li>

            <li><a href="{{ path('extaddrobj-new') }}">Добавление ExtAddrobj</a></li>
            <li><a href="{{ path('exthouse-new') }}">Добавление ExtHouse</a></li>
        </ul>

    </div>
{% endblock %}

{% block footer_javascripts %}{% endblock %}