{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('admin/css/style.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div style="margin: 20px auto;max-width: 600px;">
        <h3>Панель администрирования</h3>

        <ul>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
            <li><a href="{{ path('admin-new') }}">Добавление Администратора</a></li>
            {% endif %}
            {% if is_granted('ROLE_EDITOR_USER') %}
            <li><a href="{{ path('user-new') }}">Добавление Пользователя</a></li>
            {% endif %}
            {% if is_granted('ROLE_EDITOR_APITOKEN') %}
            <li><a href="{{ path('api-token-new') }}">Добавление Токена</a></li>
            {% endif %}
            {% if is_granted('ROLE_EDITOR_EXTADDROBJ') %}
            <li><a href="{{ path('extaddrobj-new') }}">Добавление ExtAddrobj</a></li>
            {% endif %}
            {% if is_granted('ROLE_EDITOR_EXTHOUSE') %}
            <li><a href="{{ path('exthouse-new') }}">Добавление ExtHouse</a></li>
            {% endif %}
        </ul>

    </div>
{% endblock %}

{% block footer_javascripts %}{% endblock %}