{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .no-border {
            border: 0;
            box-shadow: none;
            padding-left: 0;
            padding-right: 0;
        }

        .form-fields div {
            margin-bottom: 10px;
        }

        .form-fields > div > label {
            font-weight: bold;
        }

        .form-fields li div {
            margin: 0px;
        }

        .left {
            width: 560px;
            float: left;
            margin-right:10px;
        }

        .coord {
            width: 275px;
            float: left;
            margin-right:10px;
        }

        .del {
            float: left;
        }

        ul {
            padding-left: 0;
            clear:both;
        }

        ul:after {
            content: '';
            display: block;
            clear: both;
        }

        ul li {
            list-style-type: none;
            display: block;
            margin-bottom: 3px;
        }

        ul li:after {
            content: '';
            display: block;
            clear: both;
        }

        ul li .form-group {
            margin: 0;
        }

        h3 {
            margin-bottom: 20px;
        }
    </style>
{% endblock %}

{% block footer_javascripts %}
    {{ parent() }}
    <script>
        jQuery(document).ready(function() {
            var $collectionHolderж

            $collectionHolder = $('ul.synonym');
            $collectionHolder.data('index', $collectionHolder.find('input').length);
            $('body').on('click', '#add_synonym', function(e) {
                var $collectionHolderClass = $(e.currentTarget).data('collectionHolderClass');
                addFormToCollection($collectionHolderClass);
            })
            $collectionHolder.find('li').each(function() {
                addTagFormDeleteLink($(this));
            });


            $collectionHolder = $('ul.polygon');
            $collectionHolder.data('index', $collectionHolder.find('input').length);
            $('body').on('click', '#add_polygon', function(e) {
                var $collectionHolderClass = $(e.currentTarget).data('collectionHolderClass');
                addFormToCollection($collectionHolderClass);
            })
            $collectionHolder.find('li').each(function() {
                addTagFormDeleteLink($(this));
            });

        });

        function addTagFormDeleteLink($tagFormLi) {
            var $removeFormButton = $('<button type="button" class="btn btn-outline-secondary btn-sm del">X</button>');
            $tagFormLi.append($removeFormButton);
            $removeFormButton.on('click', function(e) {
                $tagFormLi.remove();
            });
        }


        function addFormToCollection($collectionHolderClass) {
            var $collectionHolder = $('.' + $collectionHolderClass);
            var prototype = $collectionHolder.data('prototype');
            var index = $collectionHolder.data('index');
            var newForm = prototype;
            newForm = newForm.replace(/__name__label__/g, index);
            newForm = newForm.replace(/__name__/g, index);
            $collectionHolder.data('index', index + 1);
            var $newFormLi = $('<li></li>').append(newForm);
            $collectionHolder.append($newFormLi)
        }
    </script>
{% endblock %}

{% block body %}
    {% form_theme form 'bootstrap_4_layout.html.twig' %}
    <div style="margin: 20px auto;max-width: 600px;">
        <h3>Редактирование ExtAddrobj</h3>
        {{ form_start(form, {'attr': {'class': 'form-fields'}}) }}
        {% for child in form %}
            {% if child.vars.name not in ['synonym','polygon','save'] %}
            {{ form_row(child) }}
            {% endif %}
        {% endfor %}

        <div>
            {{ form_label(form.synonym) }}
            <ul class="synonym" data-prototype="{{ form_widget(form.synonym.vars.prototype)|e('html_attr') }}">
                {% for synonym in form.synonym %}
                    <li>{{ form_row(synonym.name, {'label': false}) }}</li>
                {% endfor %}
            </ul>
            <button type="button" id="add_synonym" class="btn btn-secondary" data-collection-holder-class="synonym">Добавить синоним</button>
        </div>

        <div>
            {{ form_label(form.polygon) }}
            <ul class="polygon" data-prototype="{{ form_widget(form.polygon.vars.prototype)|e('html_attr') }}">
                {% for polygon in form.polygon %}
                    <li>
                        {{ form_row(polygon.latitude, {'label': false}) }}
                        {{ form_row(polygon.longitude, {'label': false}) }}
                    </li>
                {% endfor %}
            </ul>
            <button type="button" id="add_polygon" class="btn btn-secondary" data-collection-holder-class="polygon">Добавить точку</button>
        </div>

        {{ form_row(form.save) }}
        {{ form_end(form, {'render_rest': false}) }}
    </div>
{% endblock %}